html, body {
    margin: 0;
    padding: 0;
}

main {
    min-height: 100vh;
    min-width: 100vw;
    text-align: center;
    display: flex;
    align-items: center;
}

h1 {
    position: absolute;

}
canvas {
    position: absolute;
    display: block;
}